@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Quickzag";
    src: url("/fonts/Quickzag.ttf") format("truetype");
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "ReDo";
    src: url("/fonts/re-do.ttf") format("truetype");
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
  }

  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  main {
    @apply min-h-screen w-full bg-gray-900;
  }
}
